/* CSS Resets */

/* Apply a natural box layout model to all elements, but allow components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Use intuitive block display for media */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}