{% load render_bundle from webpack_loader %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Getting Started with Django and React{% endblock title %}</title>
    <meta name="description" content="A boilerplate to kickstart your hybrid Django and React application.">
    {% render_bundle 'main' 'css' %}
  </head>
  <body>
    {% block body %}
    {% endblock body %}
  </body>
</html>